<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info"> <!-- debug will show status when logs are deleted -->
    <Properties>
        <Property name="logDirectory">logs</Property>
        <Property name="logFileName">App.log</Property>
        <Property name="ArchiveLogName">%d{yyyyMMdd-HH}-App-%i.log</Property>

        <Property name="pattern">%d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] %t - %c: %msg%n</Property>

        <!-- CSV Log properties -->
        <Property name="csvLogFileName">csvLog</Property>
        <Property name="csvHeaderRow">index,date,instance</Property>
    </Properties>
    <Appenders>

        <RollingFile name="csvFile" 
                     fileName="${logDirectory}/${csvLogFileName}.csv"
                     filePattern="${logDirectory}/${csvLogFileName}-%d{MM-dd-yyyy}-%i.csv" >
            <CsvParameterLayout delimiter="," header="${csvHeaderRow}\n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="200" />
        </RollingFile>

        <!-- Main Application rolling log -->
        <RollingFile name="MainRollingLog" fileName="${logDirectory}/${logFileName}" filePattern="${logDirectory}/${ArchiveLogName}">
            <PatternLayout pattern="${pattern}" />
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <!-- Deletes log files older than 40 days -->
            <DefaultRolloverStrategy max="5">
                <Delete basePath="${logDirectory}" maxDepth="1">
                    <IfFileName glob="*App*.log" />
                    <IfLastModified age="40d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <Routing name="Routing">
          <Routes pattern="$${ctx:DYNAMIC_LOG}">
            <Route>
              <RollingFile name="routing_log" append="true" fileName="${logDirectory}/${ctx:DYNAMIC_LOG}_log.log"
                 filePattern="${logDirectory}/archive/${ctx:DYNAMIC_LOG}_Downlink-%d{MM-dd-yyyy}-%i.log">
                <PatternLayout>
                  <pattern>%d{ISO8601} [%t] %p %c %L - %m%n</pattern>
                </PatternLayout>
                <Policies>
                  <OnStartupTriggeringPolicy />
                  <TimeBasedTriggeringPolicy/>
                  <SizeBasedTriggeringPolicy size="10 MB"/>
                </Policies>
                <!-- Deletes log files, with format *.log, older than 2 days -->
                <DefaultRolloverStrategy>
                    <Delete basePath="${logDirectory}/" maxDepth="1">
                        <IfFileName glob="*_log.log" />
                        <IfLastModified age="2d" />
                    </Delete>
                </DefaultRolloverStrategy>
              </RollingFile>
            </Route>
          </Routes>
        </Routing>

        <!-- Console appenders for development only! -->
        <Console name="Console-Out" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss.SSS} [%-5level] %t - %c: %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="CSVLogger" level="debug" additivity="false">
            <AppenderRef ref="csvFile" level="debug"/>
        </Logger>
        <Logger name="ConsoleLogger" level="info" additivity="false">
                <appender-ref ref="Console-Out" level="info" />
        </Logger>
        <Logger name="MainLogger" level="info" additivity="false">
            <appender-ref ref="MainRollingLog" level="info" />
            <appender-ref ref="Console-Out" level="info" />
        </Logger>

        <Logger name="RoutingLogger" level="info" additivity="false">
          <appender-ref ref="Routing" level="DEBUG" />
        </Logger>
    </Loggers>
</Configuration>
